* {
    margin: 0;
    padding: 0;
}
body {
    background-color: hsl(125, 22%, 62%);
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 40vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    margin-bottom: 40px;
}

.box {
    font-size: 8vmin;
    height: 15vh;
    width: 15vh;
    background-color: rgb(236, 229, 216);
    color: hsl(0, 59%, 52%);
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}

#resetBtn{
    padding: 8px 15px;
    font-size: 3.2vmin;
    font-weight: bold;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    background-color: hsl(173, 33%, 52%);
    transition: 0.2s ease-in-out;
}
#resetBtn:hover{
    background-color: hsl(173, 62%, 65%);
    transform: scale(1.08);
    border-radius: 1rem;
    color: hsl(0, 2%, 20%);
}
#resetAll {
    padding: 8px 15px;
    font-size: 3.2vmin;
    font-weight: bold;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    background-color: hsl(173, 33%, 52%);
    transition: 0.2s ease-in-out;
}
#resetAll:hover{
    background-color: hsl(173, 62%, 65%);
    transform: scale(1.08);
    border-radius: 1rem;
    color: hsl(0, 2%, 20%);
}

.msg-container{
    padding: 10px 0;
}

#msg{
    font-size: 8vmin;
    color: rgb(105, 100, 92);
    margin-bottom: 15px;
}

.hide {
    display: none;
}